@use "sass:color";
@use "module" as f;


@mixin article-card($prope, $b-value, $f-value) {
  color: $prope;
  border-color: $b-value;
  font-size: $f-value;
}

@mixin margins($fs, $se) {
  margin-left: $fs;
  margin-right: $se;
}
// This line of codes mixes the colors, and returns to the uppers value
$uppers: color.mix(red, green, 75%);

body {
  // this line of code gives the padding to the main page
  padding: f.rem(20);

  div {
    // this line of codes give the border style for the first line of border
    border: f.rem(2) solid adjust-color($color: gray, $lightness: -10%, $alpha: 1);
    padding: f.rem(10);
    h1 {
      // this blok of codes gives the header style for the table
      text-align: center;
      color: adjust-color($color: gray, $lightness: -19%, $alpha: 1);
      text-decoration: underline;
      text-decoration-color: color.complement($color: green);
    }
    #s1 {
      // this section of codes displays the first line of tables
      display: flex;
      margin: f.rem(10);

      .a1,
      .a3 {
        // this line of codes keep the 1th and 3th block styles
        border: f.rem(2) solid;
        text-align: center;
        padding: f.rem(10);
        @include article-card(blue, lightgreen, 1rem);
      }
      .a2,
      .a4 {
        // this line of codes keep the 2th and 4th block styles
        padding: f.rem(10);
        text-align: center;
        border: f.rem(2) solid;
        @include article-card($uppers, lightgreen, 1rem);
      }
    }
    #s2 {
      // this section keeps the table footer table's style codes
      p {
        border: f.rem(2) solid;
        text-align: center;
        padding: f.rem(10);
        // This line of codes gets comands from the margins
        @include margins(f.rem(10), f.rem(10));
        @include article-card(lightgreen, blue, f.rem(24));
      }
    }
  }
}
